body{
    display: grid; 
    grid-template-columns:20fr 20fr 20fr 20fr;
    grid-template-rows:repeat(100,100px);
}

.grid-item1{
    grid-column-start:1;
    grid-row-start:1;
    grid-column-end:10;
    grid-row-end:4;
    background:navy;
    color:#ffffff;
}
.grid-item2{
    grid-column-start:1;
    grid-row-start:4;
    grid-column-end:10;
    grid-row-end:6;
    background:cyan;
}
.grid-item3{
    grid-column-start:1;
    grid-row-start:6;
    grid-column-end:10;
    grid-row-end:10;
    background:greenyellow;
}
.grid-item4{
    grid-column-start:1;
    grid-row-start:10;
    grid-column-end:10;
    grid-row-end:11;
    background:green;
}
@media only screen and (max-width:900px) {
    grid-column-width:768px;
    
}
@media only screen and (max-width:600px) {
    grid-column-width:100%;
}
.flex-container{
    display:flex;
    flex-direction:row;
}
