
body {
    margin:0;
    color:#666666;
    background-color: #FFFFFF;
    Font-family: Arial,Verdana,Sans-serif;
}
header {
    grid-row: 1 / 2;
    grid-column: 2 / -2;
}
header h1 {
    line-height:140%;
    padding: 0.5rem;
    margin:0;
}
nav{
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    background-color: #424242;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
h2 {
    color:#424242;
    font-family: Georgia,serif;
}
dt{
    color: #003058;
    font-weight: bold;
}
.ut{
    color: #BA1C21;
    font-weight:bold;
}
footer{
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}
#wrapper{
    display:grid;
    grid-auto-rows: minimax(0px,auto);
    grid-template-columns:minimax(0px, 1fr)repeat(6, minimax(0, 175px) ) minimax(0px, 1fr);
}
*{
    box-sizing: border-box;
    }

main img {
    float: right;
    padding-left: 2rem;
}
#homehero, #studenthero, #facultyhero {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background: #ffffff;
}
nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #BA1C21;
}